body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
    border: 1px solid #ccc;
    max-width: 355px;
    padding: 15px;
    margin: 30px auto;
}

.content {
    overflow: hidden;
    line-height: 1.2em;
    height: 3.6em;
}

.content.collapsed {
    overflow: hidden;
    transition: opacity 200ms;
}

.content.expanded {
    overflow: visible;
    height: auto;
    transition: opacity 200ms;
}