body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
    border: 1px solid #ccc;
    max-width: 500px;
    padding: 15px;
    margin: 30px auto;
}

textarea {
    width: 100%;
}

.component {
    margin-bottom: 30px;
}

.component .content {
    line-height: 1.2em;
    overflow: hidden;
    white-space: pre-line;
    -webkit-mask-image: linear-gradient(180deg,#000 60%,transparent);
    text-overflow: ellipsis;
}

.collapsed {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* number of lines to show */
    -webkit-box-orient: vertical;
}