body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  border: 1px solid #ccc;
  max-width: 355px;
  padding: 15px;
}

.control {
  display: flex;
  align-items: center;
}

.item {
  margin-bottom: 15px;
}

.control .title .edit {
  color: #028cff;
  font-size: 15px;
}

.control .title {
  margin: 3px 0;
  font-size: 14px;
}

.extends time {
  font-size: 14px;
}

.list-control {
  margin: 30px 0;
}

.list-control .control .thumb-avatar img {
  border-radius: 50%;
  margin-right: 15px;
  width: 42px;
  height: 42px;
}

.wrapper .control-arrange {
  display: inline-flex;
  max-width: 355px;
  width: 100%;
}

.wrapper .control-arrange .btn-arrange {
  cursor: pointer;
  background: #ccc;
  border: 1px solid;
  padding: 5px 10px;
  font-size: 13px;
  width: 120px;
  margin-right: 5px;
  text-align: center;
}

.inline-editor {
  padding: 3px;
}
.inline-editor .editor {
  margin: 15px 0 10px;
}
.inline-editor .editor .input-editor {
  height: 25px;
  max-width: 355px;
  width: 98%;
}
.inline-editor .control-edit {
  display: inline-flex;
  max-width: 355px;
  width: 100%;
}
.inline-editor .control-edit .btn-control {
  cursor: pointer;
  color: #fff;
  padding: 5px 10px;
  font-size: 13px;
  width: 60px;
  margin-right: 5px;
  text-align: center;
  float: right;
}
.inline-editor .control-edit .margin-left {
  margin-left: 55%;
  background: #adacac;
}
.inline-editor .control-edit .btn-save {
  background: #028cff;
}

.active {
  background: red !important;
  color: white;
}